html, body{
    margin: 0;
    height: 100%;
    margin-top: 0px;
}

#titleArea {
    height: auto;
	background-color: #333;
}

#displayResultArea {
	width: 75%;
}

#content {
    height: 80%;
}

#tableOutput td {
    padding-top: 3px;
    padding-bottom: 3px;
	height: 1px;
}

.lesson {
	height: 100%;
	border-radius: 15px;
	padding: 5px;
	background-color: #FD8888;
}

#calenderWeekTitleHidden {
	visibility: hidden;
}

#calenderWeekSelectionHidden {
	visibility: hidden;
}

.selectionAreaSmallDisplay {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #333;
	left: 0;
	top: 0;
	padding: 10% 10% 0 10%;
	line-height:  normal;
	transition: 0.7s;
	z-index: 1;
	margin: 0;
	color: white;
	font-size: 60px;
}

.selectionAreaSmall {
	transition: 1.0s;
	position: fixed;
	left: -100%;
}

#openMenuBtn {
	font-size: 50px; 
	visibility: hidden;
}

#closeMenuBtn {
	font-size: 50px; 
	visibility: hidden; 
	margin-bottom: 10%; 
}

button {
	background-color: #333;
}

.kw_buttonSmall {
	font-size: 60px;
}

.dropdownSmall {
	font-size: 40px;
}

.tableSmall {
	height: 100%;
	font-size: 30px;
}

option {
	font-size: 15px;
}