html, body{
    margin: 0;
    height: 100%;
    margin-top: 0px;
}

#titleArea {
    height: 20%;
}

#selectionArea {
    width: 25%;
}

#displayResultArea {
	width: 75%;
}

#content {
    height: 80%;
}

#tableOutput th, td {
    padding-top: 3px;
    padding-bottom: 3px;
}

#tableOutput td {
    height: 1px;
}