html, body{
    margin: 0;
    height: 100%;
    margin-top: 0px;
}

#titleArea {
    height: 20%;
}

#selectionArea {
    width: 25%;
}

#displayResultArea {
	width: 75%;
}

#content {
    height: 80%;
}